<!DOCTYPE HTML>
<html>
	<head>
		<title>Hot Topics</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		
	</head>
	<style>
			#header{
				background-image: url(images/hot-topics.jpg);
			}
			#tweet{
				background-image: url(images/hot-topics.jpg);
			}
	</style>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="first_page.html"><div id="logo">
					
					<div class="IIITD"><span style="color:#ffffff; font:0.95em bold; font-family:helvetica, sans-serif"> IIIT</span><span style="color:#3faea8; font:0.95em bold; font-family:helvetica, sans-serif">D</span><span style="font:0.95em bold; font-family:helvetica, sans-serif"> Speaks </span></div>
					
				</div></a></li>
						<li><a href="most-viewed.html">Most viewed</a></li>
						<li><a href="hot-topics.html">Hot topics</a></li>
						<li><a href="feed.html">Feed</a></li>
						<li><a href="#content" class="button big special">Sign Up</a></li>
						<li><a href="#content" class="button big special">Sign in</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">HOT TOPICS</a></h1>
					<span class="tag">------------</span>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>What's in here?</h2>
								<span class="byline">Most liked posts...........</span>
							</header>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
							<p>...............................................................................................................................
								.........................................................................
								......................................................................</p>
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>Some More....</h2>
							</header>
							<div class="row">
								<section class="6u">
									<ul class="default">
										<li>
									<p class="posted">May 21, 2014  |  (10 )  Comments</p>
									<p><a href="#">Journey of a thousand miles begins with the first step...</a></p>
								</li>
								<li>
									<p class="posted">May 18, 2014  |  (10 )  Comments</p>
									<p><a href="#">...........................................</a></p>
								</li>
									</ul>
								</section>
								<section class="6u">
									<ul class="default">
										<li>
									<p class="posted">May 21, 2014  |  (10 )  Comments</p>
									<p><a href="#">Journey of a thousand miles begins with the first step...</a></p>
								</li>
								<li>
									<p class="posted">May 18, 2014  |  (10 )  Comments</p>
									<p><a href="#">...........................................</a></p>
								</li>
									</ul>
								</section>
							</div>
						</section>
						<section>
							<header>
								<h2>Some More....</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">May 21, 2014  |  (10 )  Comments</p>
									<p><a href="#">Journey of a thousand miles begins with the first step...</a></p>
								</li>
								<li>
									<p class="posted">May 18, 2014  |  (10 )  Comments</p>
									<p><a href="#">...........................................</a></p>
								</li>
							</ul>
						</section>
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Every second I waste is more than I can take.&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch!!!</h2>
						<span class="byline">Open to suggestions...</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	<!-- /Footer -->
	</body>
</html>
